.container {
    background-color: #282b30;
    width: 10%;
    margin: auto;
    margin-top: 20vh;
    padding: 20px;
    text-align: center;
}

.loading-content {
    color: white;
}

.logo-container img {
    max-width: 200px;
}

.text-container p {
    margin-top: 20px;
    font-size: 20px;
}
