<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/misc/add_proxy.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Adding a new Nginx Proxy Manager instance
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="static/Assets/pm2xNginx.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <form action="/add_proxy" method="post">
                                    <div class="form-group">
                                        <input type="hidden" name="csrf_token" value="{{ request.cookies.get('csrf_access_token') }}">
                                        <label for="target">URL or ip address:</label>
                                        <input type="text" class="form-control bg-dark text-white" placeholder="proxy.domain.com or 192.168.0.1:81" id="target" name="target" value="{{ request.form.target }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="pingBtn">Check host</button>
                                </form>
                                 {% if target_error %}
                                    <p class="target_error"><strong>Error:</strong> {{ target_error }}</p>
                                 {% endif %}
                                 {% if target_success %}
                                    <p class="target_success"><strong>Success ! :</strong> {{ target_success }}</p>
                                 {% endif %}
                                <div id="status" class="mt-3"></div>
                            <form action="/add_proxy" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="target" value="{{ request.form.target }}">
                                    <input type="hidden" name="csrf_token" value="{{ request.cookies.get('csrf_access_token') }}">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control bg-dark text-white" placeholder="Username" id="username" name="username" value="{{ request.form.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control bg-dark text-white" placeholder="Password" id="password" name="password" value="{{ request.form.password }}">
                                </div>
                                <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
                            </form>
                            {% if error %}
                                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                            {% endif %}
                            {% if success %}
                                    <p class="success"><strong>Success ! :</strong> {{ success }}</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
