<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/Assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/misc/please_wait.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="container">
            <div class="loading-content">
                <div class="logo-container">
                    <img src="/static/Assets/loading.gif" alt="Loading Logo">
                </div>
                <div class="text-container">
                    <p>Please wait while we process your new instance...</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
