.page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2124;
}

.container {
    background-color: #282b30;
    width: 50%;
    padding: 100px;
    text-align: center;
}

.loading-content {
    color: white;
}

.logo-container img {
    max-width: 200px;
}

.text-container p {
    margin-top: 20px;
    font-size: 20px;
}
